html {
    position: relative;
    background-color:#F5F5F5;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

#footer {
    background-color: #444444;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow:hidden;
}

.card {
    background-color: #FFFFFF;
}

#header {
    background-color:#4b2e83;
    padding: 1rem;
}

#searchResults {
    padding-top: 15px;
    background-color: #F5F5F5;
}

#logo {
    max-width: 200px;
}
