body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #243a51;
}
body {
  background-color: #243a51;
}

#table {
  margin: 0;
  padding: 0;
}
#ratingTable {
  margin: 0;
  padding: 0;
}
#searchbar {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#searchbutton {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.container {
  background-color: white;
  border-radius: 10px;
}


